<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>
	{% block title %}

	{% endblock %}
    </title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
      <div class="container-fluid">
        <img src="{{ url_for('static', filename='images/logo_port.png') }}" alt="Logo" class="img-fluid rounded" style="width: 60px;">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="dropdown ms-auto bg-secondary">
          <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
               Menu
          </button>
          <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="{{ url_for('main.admindashboard.admindashboard_page') }}">Admin Dashboard</a></li>
            <li class="dropdown-header">Featured Projects</li>
            <li><a class="dropdown-item" href="{{ url_for('main.featured_projects.create_featured_project') }}">Add Featured Project</a></li>
            <li><a class="dropdown-item" href="{{ url_for('main.featured_projects.list_featured_projects') }}">List Featured Projects</a></li>
            <li class="dropdown-header">Projects Done</li>
            <li><a class="dropdown-item" href="{{ url_for('main.projects_done.create_project_done')}}">Add Projects Done</a></li>
            <li><a class="dropdown-item" href="{{ url_for('main.projects_done.list_projects_done')}}">List Projects Done</a></li>
            <li class="dropdown-header">Technical Writings</li>
            <li><a class="dropdown-item" href="{{ url_for('main.tech_writings.create_writing') }}">Create Technical Writing</a></li>
            <li><a class="dropdown-item" href="{{ url_for('main.tech_writings.list_writings') }}">List Technical Writings</a></li>
            <li class="dropdown-header">References</li>
            <li><a class="dropdown-item" href="{{ url_for('main.references.list_references') }}">List References</a></li>
            <li><a class="dropdown-item" href="{{ url_for('main.auth.logoutForm') }}">Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <section>
    <p>
       <!-- flash message -->
       {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class="">
              {% for category, message in messages %}
                <li class="{{ category }}">
                   {{ message }}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
       {% endwith %}
       </p>
      {% block content %}

      {% endblock %}
    </section>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
  <style>
      body {
      background-color: white;
      color: black;
      }
   </style>
   <footer>
           <p class="text-center"><a href="{{url_for('main.admindashboard.admindashboard_page')}}">Back to Your Dashboard</a></p>
   </footer>
</html
