{% extends 'base.html' %}

{% block title %}
  Admin Login
{% endblock %}

{% block content %}
  <body>
    <div class="container mt-4">
       <h5 class="h5 text-center text-primary">Admin Only</h5>
       <form method="POST" action="{{ url_for('main.auth.login') }}">
         <!-- CSRF token -->
         {{ form.hidden_tag() }}

         <div class="mb-3">
         <!-- username -->
         {{ form.username_email.label(class="form-label text-primary") }}
         {{ form.username_email(placeholder="Username or Email", class="form-control") }}
         </div>

         <div class="mb-3">
         <!-- password -->
         {{ form.password.label(class="form-label text-primary") }}
         {{ form.password(placeholder="Password", class="form-control") }}
         </div>

         <div class="mb-3">
         <!-- submit -->
         {{ form.submit(class="btn btn-primary") }}
         </div>
       </form>
    </div>
  </body>
{% endblock %}
