{% extends 'base.html' %}

{% block title %}
  Admin Login
{% endblock %}

{% block content %}
  <body>
       <h1>LOGO</h1>
       <p>Admin Login Only</p>
    <div>
       <form method="POST" action="{{ url_for('main.auth.login') }}">
         <!-- CSRF token -->
         {{ form.hidden_tag() }}
         <!-- username -->
         {{ form.username_email.label() }}
         {{ form.username_email(placeholder="User Name/Email") }}
         <!-- password -->
         {{ form.password.label() }}
         {{ form.password(placeholder="Password") }}
         <!-- submit -->
         {{ form.submit() }}
       </form>
    </div>
  </body>
{% endblock %}
