{% extends "admin-base.html" %}

{% block title %}
     Technical Writing
{% endblock %}

{% block content %}
   <body>
     <div class="container mt-5">
     <div class="row justify-content-center">
     <div class="col-md-8">
     <h5 class="h5 text-center fw-bold">Create Technical Writing</h5>
       <form method="POST" action="{{ url_for('main.tech_writings.create_writing') }}">
         {{ form.hidden_tag() }}

         <div class="mb-3">
         <!-- writing title -->
         {{ form.title.label(class="form-label fw-bold") }}
         {{ form.title(placeholder="Enter Title", class="form-control shadow") }}
         </div>
        
         <div class="mb-3">
	 <!-- technical writing image link -->
         {{ form.image_link.label(class="form-label fw-bold") }}
         {{ form.image_link(placeholder="Enter Image URL", class="form-control shadow") }}
         </div>
 
         <div class="mb-3">
         <!-- writing description -->
         {{ form.description.label(class="form-label fw-bold") }}
         {{ form.description(placeholder="Type Technical Writing", class="form-control shadow") }}
         </div>
         
         <div class="mb-3">
         <!-- technical writing published link -->
         {{ form.published_link.label(class="form-label fw-bold") }}
         {{ form.published_link(placeholder="Enter Published URL", class="form-control shadow") }}
         </div>
         
         <div class="d-grid mb-3 mt-3">
         <!-- submit -->
         {{ form.submit(class="btn btn-primary") }}
         </div>
       </form>
     </div>
     </div>
     </div>
   </body>
{% endblock %}
