{% extends "admin-base.html" %}

{% block title %}
     Add Project
{% endblock %}

{% block content %}
   <body>
     <h1>LOGO</h1>
     <p>Add Project Done</p>
     <div>
       <form method="POST" action="{{ url_for('main.projects.create_project') }}">
         {{ form.hidden_tag() }}
         <!-- project title -->
         {{ form.title.label() }}
         {{ form.title(placeholder="Enter Project Title") }}
         
         <!-- project description -->
         {{ form.description.label() }}
         {{ form.description(placeholder="Type project description") }}
         
         <!-- project image link -->
         {{ form.image_link.label() }}
         {{ form.image_link(placeholder="Enter Image URL") }}
         
         <!-- project stacks used -->
         {{ form.stacks.label() }}
         {{ form.stacks(placeholder="Enter Stacks Used") }}
         
         <!-- project domain link -->
         {{ form.domain_link.label() }}
         {{ form.domain_link(placeholder="Enter Domain URL") }}
         
         <!-- project github link -->
         {{ form.github_link.label() }}
         {{ form.github_link(placeholder="Enter Github URL") }}
         
         <!-- submit -->
         {{ form.submit() }}
       </form>
     </div>
   </body>
{% endblock %}
