{% extends 'base.html' %}

{% block title %}
  Disclaimer_Terms
{% endblock %}

{% block content %}
  <body>
    <div class="container-fluid mt-4">
       <div class="mb-3">
         <h5 class="h1">Disclaimer/Terms</h5>
         <p>
         The technical information and writings on this Website are provided "as-is" and without
         warranties of any kind. I disclaim all liabilities for any damages or losses resulting
         from the use or reliance on this information.         
         </p>
       </div>

       <div class="mb-3">
         <p>
         <em>Purpose</em>: The technical writings are intended for general information and educational purposes only.
         </p>
       </div>

       <div class="mb-3">
         <p>
         <em>Accuracy and completeness</em>: While I strive to provide accurate and complete information, I make no
         guarantees and assume no responsibility for errors or omissions.
         </p>
       </div>

       <div class="mb-3">
         <p>
         <em>Intellectual property</em>: The technical content on this Website is my original work and is protected
         by copyright. Unauthorized use, reproduction, or distribution is prohibited.
         </p>
       </div>

       <div class="mb-3">
         <p>
         <em>Limitation of liability</em>: In no event will I be liable for any damages or losses resulting from the
         use or reliance on the technical information provided.
         </p>
       </div>

       <div class="mb-3">
         <p>
         By accessing and using the technical writings on this Website, you acknowledge that you have read, understood,
         and agree to these Terms.
         </p>
       </div>

    </div>
  </body>
{% endblock %}
