{% extends "admin-base.html" %}

{% block title %}
   Edit Projects Done     
{% endblock %}

{% block content %}
   <body>
    <div class="container mt-4">
     <h5 class="h5 text-center fw-bold">Edit Project Done</h5>
       <form method="POST" action="{{ url_for('main.projects_done.update_project_done', project_done_id=project_done.project_done_id) }}">
         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

         <div class="mb-3">
            <label for="title", class="form-label text-primary">Title</label>
            <input type="text" id="title" name="title" value="{{ project_done.title }}" required, class="form-control">
         </div>

	 <div class="mb-3">
            <label for="project_type", class="form-label text-primary">Type e.g personal, school, open source, service</label>
            <input type="text" id="project_type" name="project_type" value="{{ project_done.project_type }}" required, class="form-control">
         </div>

         <div class="mb-3">
            <label for="description", class="form-label text-primary">Description</label>
            <textarea id="description" name="description" required, class="form-control">{{ project_done.description }}</textarea>
         </div>

	 <div class="mb-3">
            <label for="stacks", class="form-label text-primary">Stacks - Technologies Used</label>
            <input type="text" id="stacks" name="stacks" value="{{ project_done.stacks }}" required, class="form-control">
         </div>

         <div class="mb-3">
            <label for="role", class="form-label text-primary">Role</label>
            <input type="text" id="role" name="role" value="{{ project_done.role }}" required, class="form-control">
         </div>

         <div class="mb-3">
            <label for="date_cmptd", class="form-label text-primary">Date Completed</label>
            <input type="text" id="date_cmptd" name="date_cmptd" value="{{ project_done.date_cmptd }}" required, class="form-control">
         </div>

	 <div class="mb-3">
            <button type="submit", class="btn btn-primary">Submit</button>
	</div>
       </form>
       <p class="text-center text-primary"><a href="{{ url_for('main.projects_done.list_projects_done') }}">Back to Project Done List</a></p>
     </div>
   </body>
{% endblock %}
