{% extends "admin-base.html" %}

{% block title %}
   Edit Projects     
{% endblock %}

{% block content %}
   <body>
     <h1>Edit Project</h1>
     <div>
       <form method="POST" action="{{ url_for('main.projects.update_project', project_id=project.project_id) }}">
         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
         <div>
            <label for="title">Project Title</label>
            <input type="text" id="title" name="title" value="{{ project.title }}" required>
         </div>
         <div>
            <label for="description">Project Description</label>
            <textarea id="description" name="description" required>{{ project.description }}</textarea>
         </div>
         <div>
            <label for="image_link">Image Link</label>
            <input type="url" id="image_link" name="image_link" value="{{ project.image_link }}">
         </div>
	 <div>
            <label for="stacks">Stacks/Technologies Used</label>
            <input type="text" id="stacks" name="stacks" value="{{ project.stacks }}" required>
         </div>
	 <div>
            <label for="domain_link">Domain Link</label>
	    <input type="url" id="domain_link" name="domain_link" value="{{ project.domain_link }}">
         </div>
         <div>
	    <label for="github_link">Github Link</label>
            <input type="url" id="github_link" name="github_link" value="{{ project.github_link }}">
         </div>
	 <div>
            <button type="submit">Update Project</button>
	</div>
       </form>
       <a href="{{ url_for('main.projects.list_projects') }}">Back to Project List</a>
     </div>
   </body>
{% endblock %}
