{% extends "admin-base.html" %}

{% block title %}
   Technical Writings     
{% endblock %}

{% block content %}
   <body>
     <div>
     <h1 class="h5 text-center fw-bold">Technical Writings</h1>
     <div class="container mt-5">
      <div class="row">
       <div class="col-md-12">
       <table class="table table-hover table-bordered table-striped">
         <thead class="table-light shadow">
           <tr>
             <th scope="col">#</th>
             <th scope="col">Date Created</th>
             <th scope="col">Last Updated</th>
             <th scope="col">Title</th>
             <th scope="col">Image URL</th>
             <th scope="col">Technical Writing</th>
             <th scope="col">Published URL</th>
             <th scope="col">Actions</th>
           </tr>
         </thead>
         <tbody class="table-light shadow">
           {% for writing in writings[::-1] %}
             <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ writing.date_created }}</td>
                <td>{{ writing.date_updated }}</td>
                <td>{{ writing.title }}</td>
                <td>
                        {% if writing.image_link %}
                          <a href="{{ writing.image_link }}"
                          target="_blank">{{ writing.image_link }}
                          </a>
                        {% else %}
                          N/A
                        {% endif %}
                </td>
                <td>{{ writing.description }}</td>
                <td>
                        {% if writing.published_link %}
                          <a href="{{ writing.published_link }}"
                          target="_blank">{{ writing.published_link }}
                          </a>
                        {% else %}
                          N/A
                        {% endif %}
                </td>
                <td><a href="{{ url_for('main.tech_writings.edit_writing', writing_id=writing.writing_id) }}", class="btn btn-sm btn-warning">Edit</a>
                         |
                  <form action={{ url_for('main.tech_writings.delete_writing', writing_id=writing.writing_id) }} method='POST'>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type='submit' class="btn btn-sm btn-danger", onclick="return confirm('Are you sure you want to delete this Technical Writing?');">
                       Delete
                    </button>
                  </form>
                </td>
             </tr>
           {% endfor %}
         </tbody>
       </table>
       <p class="text-center"><a href="{{ url_for('main.tech_writings.create_writing') }}">Add New Technical Writing</a></p>
     </div>
     </div>
    </div>
   </body>
{% endblock %}
