{% extends 'base.html' %}

{% block title %}
  Privacy Policy
{% endblock %}

{% block content %}
  <body>
    <div class="container mt-4">
       <div class="mb-3">
         <h5 class="h1">Private Policy</h5>
         <p>
         Effective Date: 09/09/2024
         </p>
       </div>

       <div class="mb-3">
         <h5 class="h2">Introduction</h5>
         <p>
         I Stephen Adah is committed to protecting the privacy of visitors to my personal
         portfolio website (the "website"). This privacy policy explain how i collect, use,
         and protect personal data.
         </p>
       </div>

       <div class="mb-3">
         <h5 class="h3">Data Collection</h5>
         <p>
         When you fill out the contact form on the website, i collect the following personal data:
         <ul>
            <li>Name</li>
            <li>Email address</li>
            <li>Phone Number (Optional)</li>
            <li>Message content</li>
         </ul>
         </p>
       </div>

       <div class="mb-3">
         <h5 class="h3">Data Usage</h5>
         <p>
         I use the collected data solely for the purpose of:
         <ul>
            <li>Responding to your inquiries and messages</li>
            <li>Contacting you about your requests or questions</li>
            <li>Improving my services and website experience</li>
         </ul>
         </p>
       </div>

       <div class="mb-3">
         <h5 class="h3">Data Protection</h5>
         <p>
         I take reasonable measures to protect the collected data from unauthorized access, disclosure,
         alteration, or destruction. These measures include;
         <ul>
            <li>Secure storage on a reputable hosting service</li>
            <li>Encypytion of sensitive data</li>
            <li>Regular security updates and backups</li>
         </ul>
         </p>
       </div>

       <div class="mb-3">
         <h5 class="h3">Data Sharing</h5>
         <p>
         I do not share your personal data with third parties, except:
         <ul>
            <li>With service providers (e.g., website hosting, email services) Who adhere to similar privacy standards</li>
            <li>As required by law or court order</li>
         </ul>
         </p>
       </div>

       <div class="mb-3">
         <h5 class="h4">User Rights</h5>
         <p>
         You have the right to:
         <ul>
            <li>Access and update your personal data through the admin</li>
            <li>Request deletion of your personal data</li>
            <li>Object to processing of your personal data</li>
         </ul>
         </p>
       </div>

       <div class="mb-3">
         <h5 class="h4">User Rights</h5>
         <p>
         I may update this Privacy Policy from time to time. changes will be posted on this page.
         </p>
       </div>

       <div class="mb-3">
         <h5 class="h5">Contact</h5>
         <p>
         If you have question or concern about this Privacy Policy, please contact me through the 
         Website's contact form.
         <br>
         <br>
         By using the website, you consent to this Privacy Policy.
         </p>
       </div>

    </div>
  </body>
{% endblock %}
