{% extends "gase.html" %}

{% block title %}
   Reset Password
{% endblock %}

{% block content %}
<div class="container mt-5">
   <div class="row justify-content-center">
      <div class="col-md-6">
         <h2 class="text-center mb-4">Reset Password</h2>
         <form method="POST" action="{{ url_for('main.auth.reset_password') }}">
            {{ form.hidden_tag() }}
            <div class="mb-3">
               {{ form.password.label(class="form-label") }}
               {{ form.password(class="form-control") }}
            </div>
	    <div class="mb-3">
               {{ form.confirm_password.label(class="form-label") }}
               {{ form.confirm_password(class="form-control") }}
            </div>
            <div class="d-grid">
               {{ form.submit(class="btn btn-primary btn-block") }}
            </div>
         </form>
      </div>
   </div>
</div>
{% endblock %}
