{% extends "base.html" %}

{% block title %}
     References
{% endblock %}

{% block content %}
<div class="container my-5">
   <nav class="d-flex justify-content-between align-items-center mb-4">
      <a href="{{ url_for('main.references.view_references') }}" class="btn btn-primary">References</a>
      <h1 class="h4 fw-bold text-center text-dark" >References</h1>
      <a href="{{ url_for('main.references.create_reference') }}" class="btn btn-success">Make Reference</a>
   </nav> 

   <div class="row row-cols-1 row-cols-md-2 g-4">
   {% if references %}
    {% for reference in references[::-1] %}
     <div class="col">
        <div class="card h-100 shadow">
           <div class="card-body">
             <h5 class="card-title">No. {{ loop.index }} - {{ reference.name }}</h5>
             <p class="card-text"><strong>Type:</strong> {{ reference.reference_type }}</p>
             <p class="card-text"><strong>message:</strong> {{ reference.message }}</p>
             {% if reference.reference_link %}
             <p class="card-text"><strong>Link:</strong> <a href="{{ reference.reference_link }}" target="_blank">{{ reference.reference_link }}</a></p>
             {% endif %}
             {% if reference.contact %}
             <p class="card-text"><strong>Contact:</strong> {{ reference.contact }}</p>
             {% endif %}
             <p class="card-text"><strong>Designation:</strong> {{ reference.designation }}</p>
           </div>
        </div>
     </div>
    {% endfor %}
   {% else %}
     <div class="container justify-content-center">
        <p class="text-center"> No references at the moment </p>
     </div>
   {% endif %}
   </div>
</div>
{% endblock %}
